{% extends 'protwo/base.html' %}


{% block content %}




<h1>Here are all users!</h1>
    {% if all_users %}
    <ol>
        {% for user in all_users %}
        <li>    User:
             <ul>
                 <li> Name: <a href="{% url 'user_detail' pk=user.pk %}">  {{ user.name }} {{ user.lastname }}</a> </li>
                <li>Email: {{ user.email }} </li>


            </ul>




        </li>


        {% endfor %}

    </ol>
    {% else %}
    <p>No users here! </p>
    {% endif %}

{% endblock %}